.left-side {
    display: block;
    width: calc(60% - 20px);
}

.right-side {
    display: block;
    width: calc(40% - 20px);
}

.container {
    display: flex;
    justify-content: space-between;
}