<div class="container">
    <section class="left-side">
        <app-fil-actu></app-fil-actu>
        <app-badge></app-badge>
        <app-chiffres></app-chiffres>
    </section>
    <section class="right-side">
        <app-calendar></app-calendar>
    </section>
</div>