<mat-card class="card">
    <mat-card-title class="card-title">Badges</mat-card-title>
    <mat-card-content>
        <div class="container">
            <img [src]="getFirstBadge()" alt="Badge actuel">
            <mat-progress-bar class="xp-barre" mode="determinate" [value]="user?.xp ? user.xp : 0"></mat-progress-bar>
            <img [src]="getSeccondBadge()" alt="Badge à atteindre">
        </div>
    </mat-card-content>
</mat-card>