.card-title {
    position: absolute;
    top: -35px;
}
.card {
    margin-top: 45px;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.xp-barre {
    height: 20px;
    border-radius: 20% 20% 20% 20% / 500% 500% 500% 500%;
    margin: 15px;
}

img {
    width: 70px;
    height: auto;
}