li {
    list-style-type: none;
}
li a, li .arrow, a span {
    display: inline-block;
    vertical-align: middle;
}

a {
    text-decoration: none;
    color: initial;
    display: inline-block;
    width: 100%;
}
a:hover {
    font-style: italic;
}
.arrow {
    color: #405CAF;
}
ul {
    padding: 0;
}

.card-title {
    position: absolute;
    top: -35px;
}
.card {
    margin-top: 45px;
}