<mat-card class="card">
    <mat-card-title class="card-title">Fil d'actualités</mat-card-title>
    <mat-card-content>
        <h4>Bonjour {{user.name}}</h4>
        <ul>
            <li *ngFor="let actu of getActuList()">
                <a [routerLink]="actu.path" *ngIf="actu.path"><mat-icon class="arrow">arrow_right</mat-icon><span>{{actu.text}}</span></a>
                <span *ngIf="!actu.path"><mat-icon class="arrow">arrow_right</mat-icon>{{actu.text}}</span>
            </li>
        </ul>
    </mat-card-content>
</mat-card>