<header>
  <mat-toolbar>
    <img class="logo-adw" alt="logo adw" title="logo" src="../../../../assets/logo.png">
  </mat-toolbar>
</header>

<section class="first-section">
  <h1>
    Les agents <br> du web
  </h1>
</section>
<section class="seccond-section sections">
  <div class="buttonbar">
    <a href="#whoAreWe">
      <img class="scrollbutton" src="../../../assets/bouton-v.png" alt="scrollbutton">
    </a>
  </div>
  <h2 id="whoAreWe">Qui sommes nous ?</h2>
  <div class="response">
    <article>
      On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
      the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are
      bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is the
      same as saying through shrinking from toil and pain. These cases are perfectly simple and easy to distinguish. In
      a free hour, when our power of choice is untrammelled and when nothing prevents our being able to do what we like
      best, every pleasure is to be welcomed and every pain avoided. But in certain circumstances and owing to the
      claims of duty or the obligations of business it will frequently occur that pleasures have to be repudiated and
      annoyances accepted. The wise man therefore always holds in these matters to this principle of selection: he
      rejects pleasures to secure other greater pleasures, or else he endures pains to avoid worse pains.
    </article>
    <aside>
      <img alt="Image de l'entreprise" title="L'entreprise" src="../../../assets/company-img.jpg">
    </aside>
  </div>
</section>
<section class="third-section sections dark-section">
  <h2>Comment ça marche ?</h2>
  <div class="howItWorkSteps">
    <article class="howItWorkStep step1">
      <h4>Étape 1</h4>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
        the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
        are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is
        the same as saying through shrinking from toil and pain.
      </p>
    </article>
    <article class="howItWorkStep step2">
      <h4>Étape 2</h4>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
        the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
        are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is
        the same as saying through shrinking from toil and pain.
      </p>
    </article>
    <article class="howItWorkStep step3">
      <h4>Étape 3</h4>
      <p>
        On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by
        the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that
        are bound to ensue; and equal blame belongs to those who fail in their duty through weakness of will, which is
        the same as saying through shrinking from toil and pain.
      </p>
    </article>
  </div>
</section>
<section class="sections fourth-section">
  <h2>Une selection de projets</h2>
  <div class="projects">
    <div *toRepeat="2" class="projectsRow">
      <article *toRepeat="4" class="project">
        <div class="projectDesc">
          <h4>Project name!</h4>
        </div>
      </article>
    </div>
  </div>
</section>
<section class="sections fifth-section dark-section">
  <h2>Devenir un agent</h2>
  <form [formGroup]="becameAgentForm" (ngSubmit)="onSubmit()">
    <mat-grid-list cols="4" rowHeight="75px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="contactFormField">
          <mat-label>Nom</mat-label>
          <input matInput type="text" formControlName="name" name="name">
          <mat-error *ngIf="becameAgentForm.get('name').hasError('required')">
            Un nom est nécessaire.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="contactFormField">
          <mat-label>Prénom</mat-label>
          <input matInput type="text" formControlName="prename" name="prename">
          <mat-error *ngIf="becameAgentForm.get('prename').hasError('required')">
            Un prénom est nécessaire.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="contactFormField">
          <mat-label>E-mail</mat-label>
          <input matInput type="email" formControlName="email" name="email">
          <mat-error *ngIf="becameAgentForm.get('tel').hasError('required')">
            Un e-mail de contact est nécessaire.
          </mat-error>
          <mat-error *ngIf="!becameAgentForm.get('email').hasError('required') 
                          && becameAgentForm.get('email').hasError('invalidEmail')">
            Veuillez saisir un e-mail valide.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <mat-form-field class="contactFormField">
          <mat-label>Telephone</mat-label>
          <input matInput type="tel" formControlName="tel" name="tel">
          <mat-error *ngIf="becameAgentForm.get('tel').hasError('required')">
            Un numéro de téléphone est nécessaire.
          </mat-error>
          <mat-error *ngIf="!becameAgentForm.get('tel').hasError('required') 
                          && becameAgentForm.get('tel').hasError('invalidNumber')">
            Veuillez saisir un numéro de téléphone valide.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="4" [rowspan]="2">
        <mat-form-field class="contactFormField">
          <mat-label>Un petit message :</mat-label>
          <textarea matInput formControlName="message"></textarea>
          <mat-error *ngIf="becameAgentForm.get('message').hasError('required')">
            Veuilliez produire un message d'une quinzaine de caractères minimum.
          </mat-error>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile [colspan]="3" [rowspan]="1">

      </mat-grid-tile>
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <button mat-button type="submit">Envoyer</button>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
</section>

<footer>
  <mat-toolbar>
    <div class="coordonnee">
      agentduweb@148.fr, 09 78 45 12 45
    </div>
    <div class="socialNetwork">

    </div>
  </mat-toolbar>
</footer>