.logo-adw {
  height: 100%;
}

img {
  height: auto;
  max-height: 100%;
  width: auto;
  max-width: 100%;
}

h1 {
  margin: 0;
  padding-top: 100px;
  padding-left: 20px;
  font-size: 80px;
}
h2 {
  margin-bottom: 15px;
}

.buttonbar {
  text-align: center;
}

.sections {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.first-section {
  height: 100%;
  background-image: url("../../../assets/fond.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.dark-section {
  background-color: #e8e8e8;
}

.response {
  display: flex;
  justify-content: space-between;
}

.response article {
  max-width: 60%;
  text-align: justify;
}

.response aside {
  max-width: 30%;
}

.howItWorkSteps {
  display: flex;
  justify-content: space-between;
}

.howItWorkStep {
  width: 26%;
  text-align: justify;
}

.howItWorkStep p {
  margin: 0;
}



.projectsRow {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.project {
  width: 21%;
  padding-top: 21%;
  position: relative;
  background-color: palevioletred;
}

.projectDesc {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.contactFormField {
  width: calc(100% - 15px);
}