<mat-card class="card">
    <mat-card-title class="card-title">Quelques chiffres</mat-card-title>
    <mat-card-content class="container">
        <mat-card class="fiche first">
            <span class="number">{{user?.historiqueMissions?.length ? user.historiqueMissions.length : 0}}</span>
            <span class="label">Missions Réalisées</span>
        </mat-card>
        <mat-card class="fiche seccond">
            <span class="number">{{user?.savings ? user.savings : 0}}</span>
            <span class="label">Revenus Totaux</span>
        </mat-card>
        <mat-card class="fiche third">
            <span class="number">{{missions?.length ? missions.length : 0}}</span>
            <span class="label">Missions Disponible</span>
        </mat-card>
    </mat-card-content>
</mat-card>