.card-title {
    position: absolute;
    top: -35px;
}
.card {
    margin-top: 45px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
}
.container {
    display: flex;
    justify-content: space-between;
}
.fiche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 15%;
    height: 200px;
    background-image: url(../../../../../assets/reseau-2.png);
    background-size: contain;
    background-repeat: no-repeat;
}
.fiche span {
    display: block;
    text-align: center;
    color: white;
}
.fiche .label {
    font-size: 1.5em;
    font-weight: 600;
}
.fiche .number {
    font-size: 2em;
    font-weight: 800;
}

.first {
    background-color: #0f9bd8;
}
.seccond {
    background-color: #fdc443;
}
.third {
    background-color: #e73737;
}