.fond {
    display: flex;
    height: 100%;
    width: 100%;
}
section.left {
    width: 311px;
    /* background-image: url(../../../assets/arriereplan-site.jpg); */
}
section.left img {
    height: 100%;
    min-width: 100%;
}
section.rigth {
    width: calc(100% - 311px);
    background-color: #4b82bb;
}

.content {
    display: flex;
    height: calc(100% - 50px);
    width: calc(100% - 90px);
    position: absolute;
    margin-top: 25px;
    margin-left: 45px;
    padding: 0;
    border-radius: 30px;
}

.left-content {
    height: calc(100% - 32px);
    width: 250px;
    position: relative;
    padding: 16px;
    padding-right: 0;
    background-color: #004e99;
    border-radius: 30px 0 0 30px;
}

.right-content {
    height: 100%;
    width: calc(100% - 266px);   
    position: relative;
    background-color: #EFEEEF;
    border-radius: 0 30px 30px 0;
}
.toolbar {
    border-radius: 0 30px 0 0;
    justify-content: end;
    border-bottom: solid 2px rgba(0, 0, 0, 0.17);
}
.toolbar button {
    margin-right: 9px;
    width: 48px;
    height: 48px;
}
.toolbar button .icon{
    font-size: 2em;
    width: 100%;
}

.variable {
    height: calc(100% - 160px);
    width: calc(100% - 64px);
    padding: 32px;
    border-radius: 0 0 30px 0;
    overflow-y: scroll;
}

.logo {
    height: 100px;
    /* width: calc(100% - 16px); */
}
.logo-container {
    text-align: center;
    padding-right: 16px;
}

.badge {
    position: absolute;
    background-color: red;
    border: 2px solid #f5f5f5;
    display: block;
    height: 14px;
    width: 14px;
    top: 6px;
    left: 21px;
    border-radius: 50%;
}