<div class="fond">
	<section class="left fond">
		<img src="../../../assets/arriereplan-site.jpg" alt="Joli fond">
	</section>
	<section class="rigth fond"></section>
	<mat-card class="content">
		<div class="left-content">
			<div class="logo-container"><img class="logo" alt="ADW logo" src="../../../assets/logobblanc.png"></div>
			<app-menu></app-menu>
		</div>
		<div class="right-content">
			<mat-toolbar class="toolbar">
				<button type="button" mat-icon-button [matMenuTriggerFor]="notif">
					<mat-icon class="icon" color="accent">notifications</mat-icon>
					<span [ngClass]="{'badge': hasNotification, 'no-badge': !hasNotification}"></span>
				</button>
				<mat-menu #notif="matMenu">
					<button mat-menu-item disabled>Aucune notifications pour le moment</button>
				</mat-menu>
				<button type="button" mat-icon-button (click)="onGoToSettings()">
					<mat-icon class="icon" color="accent">settings</mat-icon>
				</button>
				<button type="button" mat-icon-button routerLink="{{getProfilePath()}}">
					<mat-icon class="icon" color="accent">person</mat-icon>
				</button>
			</mat-toolbar>
			<div class="variable">
				<router-outlet></router-outlet>
			</div>
		</div>
	</mat-card>
</div>