.card-title {
    position: absolute;
    top: -35px;
}
.card {
    margin-top: 45px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.right {
    width: 45%;
}
.left {
    width: 45%
}
.payment {
    height: 30px;
    margin-right: 7px;
}
.disable {
    color: grey;
}