<div class="container">
    <section class="left">
        <mat-card class="card">
            <mat-card-title class="card-title">Historique des versements</mat-card-title>
            <mat-card-content>
                <p class="disable">Vous n'avez aucun versements a ce jour.</p>
            </mat-card-content>
        </mat-card>
    </section>
    <section class="right">
        <mat-card class="card">
            <mat-card-title class="card-title">Préférences des versements</mat-card-title>
            <mat-card-content>
                <div>
                    <mat-radio-group class="radio-group">
                        <mat-radio-button><img class="payment" src="../../../../assets/master-card.png">Compte Bancaire XXXX-8461</mat-radio-button>
                        <mat-radio-button><img class="payment" src="../../../../assets/paypal.png">Compte paypal rohanj@free.fr</mat-radio-button>
                    </mat-radio-group>
                </div>
            </mat-card-content>
        </mat-card>

        <app-chiffres></app-chiffres>
    </section>
    
</div>