<mat-tab-group mat-stretch-tabs>
    <mat-tab label="Missions disponibles">
        <ng-container *ngIf="user?.mission">
            <section class="project-view">
                <h4>{{user?.mission?.titre}}</h4>
                <div class="ligne1">
                    <p class="cp">Chef de projet : {{user.mission?.cp}}</p>
                    <p class="time">Durée : {{user?.mission?.time}}</p>
                    <p class="tarif">TJM : {{user?.mission?.tarif?.cout}}{{user?.mission?.tarif?.devise}}/{{user?.mission?.tarif?.temps}}</p>
                </div>
                <div class="ligne2">
                    <p>Besoin : {{user?.mission?.besoins}}</p>
                </div>
                <mat-divider></mat-divider>
            </section>
        </ng-container>
        <ng-container *ngIf="!user?.mission">
            <section class="project" *ngFor="let mission of projList">
                <h4>{{mission?.intitule}}</h4>
                <div class="ligne1">
                    <p class="cp">Chef de projet : {{mission?.cp}}</p>
                    <p class="time">Durée : {{mission?.time}}</p>
                    <p class="tarif">TJM : {{mission?.tarif?.cout}}{{mission?.tarif?.devise}}/{{mission?.tarif?.temps}}</p>
                </div>
                <div class="ligne2">
                    <p>Besoin : {{mission?.besoins}}</p>
                </div>
                <mat-divider></mat-divider>
            </section>
        </ng-container>
    </mat-tab>
    <mat-tab label="Historique des missions">
        <ng-container *ngIf="user?.historiqueMissions.length === 0">
            <p>Vous n'avez effectué aucun projet parmis nous.</p>
        </ng-container>
        <ng-container *ngIf="user?.historiqueMissions.length > 0">
            <section class="project" *ngFor="let mission of user.historiqueMissions">
                <h4>{{mission?.titre}}</h4>
                <div class="ligne1">
                    <p class="cp">Chef de projet : {{mission?.cp}}</p>
                    <p class="time">Durée : {{mission?.time}}</p>
                    <p class="tarif">TJM : {{mission?.tarif?.cout}}{{mission?.tarif?.devise}}/{{mission?.tarif?.temps}}</p>
                </div>
                <div class="ligne2">
                    <p>Besoin : {{mission?.besoins}}</p>
                </div>
                <mat-divider></mat-divider>
            </section>
        </ng-container>
    </mat-tab>
</mat-tab-group>
  