.card-title {
    position: absolute;
    top: -35px;
}
.card {
    margin-top: 45px;
}
.container {
    display: flex;
    justify-content: space-between;
}
.left {
    width: calc(40% - 40px);
}
.right {
    width: calc(60% - 40px);
}
.top-right {
    display: flex;
    justify-content: space-between;
}
.top-right .card {
    min-height: 250px;
}
.right-left {
    width: calc(40% - 10px);
}
.right-right {
    width: calc(60% - 10px);
}

.full {
    width: 100%;
}

.desc-field {
    height: 100%;
}
.demi {
    width: calc(50% - 10px);
}

.profile-pic {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}
.profile-pic img {
    width: 100%;
}

.pp-name {
    display: flex;
}
.top-fiche {
    display: flex;
    justify-content: space-between;

}
.nom-locate-metier {
    display: flex;
    flex-direction: column;
}
.name {
    font-size: 1.5em;
}
.metier {
    font-size: 1.2em;
}