
<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="container">
        <section class="left">
            <mat-card class="card">
                <mat-card-title class="card-title">Modifier mes informations</mat-card-title>
                <mat-card-content>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Nom</mat-label>
                        <input matInput type="text" formControlName="name" name="name">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Prenom</mat-label>
                        <input matInput type="text" formControlName="surname" name="surname">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Adresse e-mail</mat-label>
                        <input matInput type="text" formControlName="email" name="email">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Noméro de téléphone</mat-label>
                        <input matInput type="text" formControlName="tel" name="tel">
                    </mat-form-field>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Adresse</mat-label>
                        <input matInput type="text" formControlName="adress" name="adress">
                    </mat-form-field>
                    <div class="container">
                        <mat-form-field appearance="outline" class="demi">
                            <mat-label>Code postale</mat-label>
                            <input matInput type="text" formControlName="codePostale" name="codePostale">
                        </mat-form-field>
                        <mat-form-field appearance="outline" class="demi">
                            <mat-label>Ville</mat-label>
                            <input matInput type="text" formControlName="ville" name="ville">
                        </mat-form-field>
                    </div>
                    <mat-form-field appearance="outline" class="full">
                        <mat-label>Métier</mat-label>
                        <input matInput type="text" formControlName="metier" name="metier">
                    </mat-form-field>
                </mat-card-content>
            </mat-card>
        </section>
        <section class="right">
            <div class="top-right">
                <section class="right-left">
                    <mat-card class="card">
                        <mat-card-title class="card-title">Modifier ma photo</mat-card-title>
                        <mat-card-content>

                        </mat-card-content>
                    </mat-card>
                </section>
                <section class="right-right">
                    <mat-card class="card">
                        <mat-card-title class="card-title">Modifier ma description</mat-card-title>
                        <mat-card-content>
                            <mat-form-field appearance="outline" class="full desc-field ">
                                <textarea matInput type="text" formControlName="description" name="description"></textarea>
                            </mat-form-field>
                        </mat-card-content>
                    </mat-card>
                </section>
            </div>
            <mat-card class="card">
                <mat-card-title class="card-title">Ma fiche</mat-card-title>
                <mat-card-content>
                    <section class="top-fiche">
                        <div class="pp-name">
                            <div class="profile-pic">
                                <img [src]="getProfilePic()" alt="Profile picture">
                            </div>
                            <div class="nom-locate-metier">
                                <span class="name">{{user?.name ? user.name : ''}} {{user?.surname ? user.surname : ''}}</span>
                                <span class="locate"><mat-icon class="pin">person_pin_circle</mat-icon> {{user?.ville ? user.ville : ''}}</span>
                                <span class="metier">{{user?.metier ? user.metier : ''}}</span>
                            </div>
                        </div>
                        <div class="badges">
                            <span *ngFor="let badge of user?.badges"><img src="{{badge.path}}" alt="Badge pour {{badge.name}}" title="{{badge.name}}"></span>
                        </div>
                    </section>
                    <p class="desc">{{user?.description ? user.description : 'Aucune description.'}}</p>
                </mat-card-content>
            </mat-card>
        </section>
    </div>
    <button type="submit" hidden></button>
</form>