li {
    list-style-type: none;
    border-radius: 15px 0 0 15px;
    color: white;
}
.active {
    color: rgba(0, 0, 0, 0.87);
    background-color: #EFEEEF;
}

a {
    color: inherit;
    display: inherit;
    padding: 16px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
}
a:hover, a:focus {
    font-weight: 800;
}