<mat-card class="card">
    <mat-card-title class="card-title">Calendrier</mat-card-title>
    <mat-card-content>
        <div class="calendar-wrapper">
            <mat-calendar #calendar [(selected)]="selectedDate"></mat-calendar>
        </div>
    </mat-card-content>
</mat-card>